
ul {
    list-style-type: none;

    margin: 0;
    padding: 0;
}
/** map的制作 **/
.map {
    position: relative;
}

/*** 搜索框 ***/
.search-place {
    position: absolute;
    top: 5%;

    border-radius: 6px;
    height: 40px;

    line-height: 40px;

    background-color: #fff;

    opacity: .9;
}
.search-place > input {
    /*border: 0.1px solid #fff;*/
    overflow: hidden;

    border: none;
    border-radius: 6px;
    height: 40px;

    color: #626161;
    /*border:0px;*/

    box-shadow: 0 1px 4px rgba(0,0,0,.4);
}
.search-place > input:focus {
    outline: none;
}
.search-place > button {
    position: absolute;
    top: 0;
    z-index: 3;

    border: none;
    border-radius: 6px;
    width: 40px;
    height: 40px;

    background-color: #fff;
    background-image: url("../images/magnifier.png");
    background-repeat: no-repeat;
    background-position: center center;

    outline: none;

    cursor: pointer;
}
.search-line {
    position: absolute;

    border-radius: 6px;

    background-image: url("../images/query-path.png");
    background-repeat: no-repeat;
    background-position: center center;

    box-shadow: 0 0 4px rgba(0,0,0,.2);

    cursor: pointer;
}
.search-images {
    position: absolute;
    top: 7px;
    left: 0;

    width: 2px;
    height: 28px;

    background-color: #cadcfc;
}
/*** end 搜索框 ***/
/*** 路线搜索 ***/
.search-place-line {
    display: none;

    position: absolute;
    top: 5%;

    border-radius: 6px;

    background-color: #fff;
    background-image: url("../images/turn.png");
    background-repeat: no-repeat;
    background-position: 6px 48px;

    opacity: .9;
}
    
.search-line-img > span {
    font-size: 10px;
    position: relative;
    z-index: 10;
    top: 21px;
    left: 9px;
}
.search-line-img {
    position: absolute;
    top: -3px;
    right: -55px;

    cursor: pointer;
       background-color: #fff;
    background-image: url("../images/close-query-path.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
}
.searchResultPanel {
    display: none;
}
.search-place-end > input,
.search-place-start > input {
    border: .1px solid;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 10px;
    height: 40px;

    line-height: 40px;

    outline: none;
}
.search-place-start > input {
    border-color: #256df0;
}
.search-place-end > input {
    border-color: #3ecc59;
}
.search-place-start {
    padding: 10px 10px 10px 30px;

    line-height: 40px;

    background-image: url("../images/blue-circle-dot.png");
    background-repeat: no-repeat;
    background-position: 14px 25px;
}
.search-place-end {
    padding: 0 10px 10px 30px;

    line-height: 40px;

    background-image: url("../images/green-circle-dot.png");
    background-repeat: no-repeat;
    background-position: 14px 16px;
}
/*** end路线搜索 ***/
/*** 时间选择 ***/
/**/
.time-sel-first {
    width: 485px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}
#timeSelectFirst {
    margin-left: 28px;
}
.time-sel-first > select{
     /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
      border: none;
        box-shadow: 0 0 4px rgba(0,0,0,.2);
      /*很关键：将默认的select选择框样式清除*/
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;

      /*在选择框的最右侧中间显示小箭头图片*/
      background: url("../images/query-time-icon.png") no-repeat scroll right center transparent;
    width: 54px; 

      /*为下拉小箭头留出一点位置，避免被文字覆盖*/
      padding-right: 14px;
      margin-left: 12px;
}

.phone-web {
    position: absolute;
    bottom: 2%;
    left: 5%;

    border-radius: 6px;
    width: 85%;
    height: 42px;

    background-color: #fff;

    opacity: .9;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}
.phone-web > div {
    margin: 6px auto;
    border-radius: 6px;
    width: 97%;
    height: 30px;

    line-height: 30px;
    text-align: center;

    background-color: #bcd2fa;

    box-shadow: 0 0 4px rgba(0,0,0,.2);

    cursor: pointer;
}
.phone-web:active div {
    background-color: #6161f3;

    opacity: 1;
}
#timeStart {
    display: none;
}

#timeEnd {
    display: none;
}
.time-select-second-change {
    position: absolute;
    top: 5%;
    right: 3%;
    width: 518px;
    height: 42px;

 /*   box-shadow:  0 0 4px rgba(0,0,0,.2);*/
    border-radius: 6px;

}
.time-select-second-change > img {
    position: absolute;
    right: -30px;
    top: -10px;
    box-shadow:  0 0 36px rgba(0,0,0,.2);
    border-radius: 50%;
    cursor: pointer;
}
.second-change-first-div {
    width: 100%;
    box-shadow:  0 0 6px rgba(0,0,0,.2);
    border-radius: 6px;
 /*   padding: 10px;*/
    line-height: 42px;
    padding-left: 10px;
        background-color: #fff;
        display: none;
}
.second-change-first-div > span {
    font-size: 18px;
    color: #385C9A;
    padding-left: 20px;
}
.second-change-first-div > input {
    width: 136px;

    border-radius: 6px;
    height: 24px;
    border: 0.1px solid #C4C4C4;
    padding: 0 10px;
}
.second-change-first-div > input:focus {
    border-radius: 6px;
    outline: none
}
.second-input-secondChange {
    margin-left: 24px;
}
/**** 手机屏幕上的选择 ****/
.main_page {
    width: 100%;
    height: 100%;
}
.top_div {
    overflow: hidden;

    width: 100%;
    height: 40vw;

    background: #506695;
}
.logo {
    margin: 10px auto 5px auto;
    width: 18%;
}
.top_text_1,
.top_text_2 {
    width: 100%;

    font-size: 4.5vw;
    line-height: 7vw;
    text-align: center;

    color: white;
}
.top_text_2 {
    margin-bottom: 5vw;
}
.nine_button {
    width: 100%;
}
.button {
    float: left;

    width: 33.33%;
    height: 33.33vw;

    font-size: 4vw;
}
.button_img {
    margin: 30% auto 5% auto;
    width: 20%;
}
.button_text {
    width: 100%;

    text-align: center;
}
.release_main {
    width: 100%;
}
.release_title {
    overflow: hidden;

    width: 100%;
    height: 15vw;

    background: #f2f2f2;
}
.release_title_left {
    float: left;
    overflow: hidden;

    margin: 2.5vw 0;
    border-right: 2px solid #8e97af;
    width: 49.5%;
    height: 10vw;
}
.left_img {
    float: left;

    margin: 1.4vw 3% 1.6vw 15%;
    width: 15%;
}
.left_text {
    float: left;

    margin-top: 1.5vw;
    width: 67%;

    font-size: 3vw;
    line-height: 4vw;

    color: #506695;
}
.release_title_right {
    float: right;

    margin: 2.5vw 0;
    width: 49.5%;
    height: 10vw;
}
.right_img {
    float: left;

    margin: 1.4vw 3% 1.6vw 15%;
    width: 15%;
}
.right_text {
    float: left;

    margin-top: 1.5vw;
    width: 67%;

    font-size: 3vw;
    line-height: 4vw;

    color: #506695;
}
.gray_text {
    color: #8d8d8d;
}
.release_records {
    width: 100%;
}
.record {
    border-bottom: 1px solid #ececec;
    width: 100%;
    height: 13vw ;
}
.record_left {
    float: left;

    margin-top: 1vw;
    padding-left: 3%;
    width: 47%;

    text-align: left;
}
.record_right {
    float: left;

    margin-top: 1vw;
    padding-right: 3%;
    width: 47%;

    text-align: right;
}
.record_left_top,
.record_right_top {
    font-size: 4.1vw;
    line-height: 7vw;
}
.record_left_bottom,
.record_right_bottom {
    font-size: 3.5vw;

    color: #8d8d8d;
}
.record_small {
    font-size: 2.5vw;

    color: #8d8d8d;
}
/*select_record*/
.select_start_date {
    overflow: hidden;

    border-bottom: 1px solid darkgray;
    width: 100%;
    height: 12vw;

    font-size: 4vw;
    line-height: 12vw;

    color: #666;
}
.start_date_left {
    float: left;

    padding-left: 3%;
    width: 47%;
}
.start_date_right {
    float: left;

    padding-right: 3%;
    width: 47%;

    text-align: right;
}
.start_date_right input {
    border: none;

    font-size: 4vw;
    text-align: center;

    color: #666;
    background: transparent;
}
.select_records {
    margin-top: 6vw;
    width: 100%;
}

.gear.date_dd {
    display: none;
}
.date_grid {
    display: block;

    text-indent: -90rem;
}
.date_roll > div:nth-child(1),
.datetime_roll > div:nth-child(1),
.date_roll > div:nth-child(2),
.datetime_roll > div:nth-child(2) {
    -webkit-box-flex: 4;

    -webkit-flex: 4;
        -ms-flex: 4;
            flex: 4;
}
/**** end 手机屏幕上的选择 ****/
/*** end时间选择 ***/
/*** 工具 ***/
.tool {
    list-style: none;

    position: absolute;

    padding: 0;
    /*border:solid 1px black;*/
}
.tool li {
    width:50px;
    height: 50px;
    margin:5px auto;
    cursor: pointer;
}
.tool .unusual{
    width:50px;
    background: url(../images/unusual.png);
    text-align: center;
}

.tool .refresh{
    width:50px;
    background: url(../images/refresh_new_time.png);
    text-align: center;
}

.tool .my-location{
    width:50px;
    background: url(../images/my_location.png);
    text-align: center;
}

.tool span {
    /*float: bottom;*/
    font-size: 10px;
    position: relative;
    z-index: 10;
    top:25px;
}
/*** end 工具 ***/
/** end map的制作 **/
