
/** map的制作 **/
.map {
    position: relative;
}

/*** 搜索框 ***/
.search-place {
    position: absolute;
    top: 5%;


    height: 40px;

    line-height: 40px;
    border-radius: 6px;
    background-color: #fff;

    opacity: .9;
}
.search-place > input {
    border: none;
    padding: 0 40px 0 20px;

    height: 40px;

    color: #626161;
    border-radius: 6px;
    /*border: 0.1px solid #fff;*/
    overflow: hidden;
    /*border:0px;*/
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
.search-place > input:focus {
    outline: none;
}
.search-place > button {
    position: absolute;
    top: 0;
    left: 95%;
    z-index: 3;
    border-radius: 6px;
    border: none;
    width: 40px;
    height: 40px;

    background-color: #fff;
    background-image: url("../images/magnifier.png");
    background-repeat: no-repeat;
    background-position: center center;

    outline: none;

    cursor: pointer;
}
.search-line {

    background-image: url("../images/query-path.png");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;

    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
/*** end 搜索框 ***/
/*** 时间选择 ***/
.time-sel {
    position: absolute;

    border-radius: 5px;
    height: 42px;

    line-height: 42px;

    background: #fff;

    opacity: .9;
}
.time-first-child {
    padding-left: 16px;
}

.time-last-child {
    padding-right: 16px;
}
.time-child-anthor-span {
    padding-right: 14px;
}
.time-select {
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
    /*在选择框的最右侧中间显示小箭头图片*/

    background: url("../images/query-time-icon.png") no-repeat scroll right center transparent;

    -webkit-appearance: none;
       -moz-appearance: none;
    /*很关键：将默认的select选择框样式清除*/
            appearance: none;
}
/*** end时间选择 ***/
/*** 工具 ***/
.tool {
    list-style: none;

    position: absolute;
            padding: 0;
}
.tool img {
    position: relative;
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
        width: 50px;
}
.tool img:hover {
    width: 60px;
}
.tool li {
    padding: 10px 0;
}
/*** end 工具 ***/
/** end map的制作 **/
